<div class="container-entrainement">
    <h2 class="main-title">🚘 Examens de Permis de Conduire</h2>
  
    <section class="bloc-section fade-in" *ngIf="examensAVenir.length > 0">
      <h3 class="section-title">🗓️ Vos examens à venir</h3>
  
      <div *ngFor="let exam of examensAVenir" class="result-card">
        <div class="infos">
          <p><strong>Date :</strong> {{ exam.date_passage | date:'dd/MM/yyyy' }}</p>
          <p><strong>Centre :</strong> {{ exam.centre }}</p>
          <p><strong>Créneau :</strong> {{ exam.creneau }}</p>
        </div>
        <button class="btn btn-outline-info btn-sm" (click)="voirDetails(exam)">Détails</button>
      </div>
    </section>
  
    <section class="bloc-section fade-in" *ngIf="examensPasses.length > 0">
      <h3 class="section-title">📄 Vos examens passés</h3>
  
      <div *ngFor="let exam of examensPasses" class="result-card">
        <div class="infos">
          <p><strong>Date :</strong> {{ exam.date_passage | date:'dd/MM/yyyy' }}</p>
          <p><strong>Centre :</strong> {{ exam.centre }}</p>
          <p><strong>Créneau :</strong> {{ exam.creneau }}</p>
          <p>
            <strong>Résultat :</strong>
            <span [ngStyle]="{ color: exam.reussi ? 'green' : 'red' }">
              {{ exam.reussi ? 'Réussi ✅' : 'Échoué ❌' }}
            </span>
          </p>
        </div>
      </div>
    </section>
  
    <!-- détails -->
    <div *ngIf="selectedExam" class="modal-backdrop fade-in">
      <div class="modal-content-entrainement">
        <div class="modal-header">
          <h5 class="modal-title">Détail de l'examen</h5>
          <button class="btn-close" (click)="fermerModal()"></button>
        </div>
        <div class="modal-body">
          <p><strong>Date :</strong> {{ selectedExam.date_passage | date:'dd/MM/yyyy' }}</p>
          <p><strong>Centre :</strong> {{ selectedExam.centre }}</p>
          <p><strong>Créneau :</strong> {{ selectedExam.creneau }}</p>
          <p><strong>Moniteur :</strong> {{ selectedExam.nom_moniteur || 'Non précisé' }}</p>
          <p><strong>Durée :</strong> {{ selectedExam.duree }} minutes</p>
          <p>⚠️ Vous devez vous être présent au centre 30 minute avant le début de l'examen</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" (click)="fermerModal()">Fermer</button>
        </div>
      </div>
    </div>
  </div>