<nav class="navbar navbar-expand-lg" style="background-color: #1976D2;">
  <div class="container-fluid d-flex align-items-center">

    <!-- Logo -->
    <a class="navbar-brand" routerLink="/home">
      <img src="favicon.png" alt="Logo" style="width: 40px; height: 40px;">
    </a>

    <!-- Liens au centre -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">

        <!-- Vue commune -->
        <li class="nav-item">
          <a class="nav-link text-white fw-bold" routerLink="/home">Accueil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white fw-bold" routerLink="/app-contact">Contact</a>
        </li>

        <!-- Élève -->
        <ng-container *ngIf="role === 'eleve'">
          <!-- Code -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white fw-bold" href="#" role="button" data-bs-toggle="dropdown">
              Code
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/code/examen">Examen</a></li>
              <li><a class="dropdown-item" routerLink="/code/entrainement">Entraînement</a></li>
            </ul>
          </li>

          <!-- Permis -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white fw-bold" href="#" role="button" data-bs-toggle="dropdown">
              Permis
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/permis/lecon">Leçon de conduite</a></li>
              <li><a class="dropdown-item" routerLink="/permis/examen">Examen</a></li>
            </ul>
          </li>
        </ng-container>

        <!-- Moniteur -->
        <ng-container *ngIf="role === 'moniteur'">
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" routerLink="/moniteur/lecon">Leçons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" routerLink="/moniteur/examen">Examens</a>
          </li>
        </ng-container>

        <!-- Administrateur -->
        <ng-container *ngIf="role === 'admin'">
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" routerLink="/admin/membres">Membres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" routerLink="/admin/moderation">Modération des avis</a>
          </li>

        </ng-container>

      </ul>
    </div>

    <!-- Profil / Déconnexion -->
    <div class="d-flex align-items-center">
      <ng-container *ngIf="user; else notConnected">
        <button class="btn btn-outline-light" (click)="logout()">Déconnexion</button>
      </ng-container>

      <ng-template #notConnected>
        <a routerLink="/connexion" class="text-white">
          <img src="user.png" alt="Profil" style="width: 30px; height: 40px;">
        </a>
      </ng-template>
    </div>

  </div>
</nav>
