.footer {
    background-color: #121212;
    color: white;
    font-size: 0.95rem;
  }
  
  .footer h5 {
    font-weight: bold;
    color: #ffffff;
  }
  
  .footer-link {
    color: #bbbbbb;
    text-decoration: none;
    display: block;
    margin: 0.3rem 0;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #00a885;
    text-decoration: underline;
  }
  
  .footer ul {
    padding: 0;
    list-style: none;
  }
  